# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\near\03-Near-MetaBUILD-DAO-Multi-Signature-Committee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
